.obstacle {
    background-color: black;   
    color: white; 
}

.state {
    height: 20px;
}

.td {  
    text-align: center;
    cursor: default;
    border: 1px solid black;
    padding-top: 4px;
    padding-bottom: 4px;
}

.isHere {
    background-color: blue;
    color: white;
}

.isEnd {
    background-color: green;
    color: black;
}

.isStart {
    background-color: yellow;
    color: black;
}